.link {
  text-decoration: none;
}

$dist: calc(var(--spacing) / 8);

.pressableContainer {
  position: relative;
  display: inline-block;
  padding: calc(var(--spacing) / 4);

  top: -$dist;
  box-shadow: 0 $dist var(--palette-primary-dark);

  text-decoration: none;
  color: var(--palette-white);
  background-color: var(--palette-primary-main);
  border-radius: calc(var(--spacing) / 16);

  &:active {
    box-shadow: 0 0 var(--palette-primary-dark);
    top: $dist;  
  }

}