@import 'src/util';

$menu-y-sm: var(--spacing);
$menu-x-sm: 75%;
$transition: all 0.3s;

$menu-y-md: var(--spacing);
$menu-x-md: 40%;

$menu-y-lg: var(--spacing);
$menu-x-lg: 25%;

.wrapper {
  position: relative;
  height: 100%;
  width: 100%;

  background-color: var(--palette-text-main);
  overflow: hidden;
}

.trigger {
  position: absolute;
  margin: calc(var(--spacing) / 4);

  background-color: initial;
  border: none;
  color: var(--palette-text-main);
  font-size: calc(var(--spacing) / 2);
  line-height: calc(var(--spacing) / 2);
  
  cursor: pointer;
  z-index: var(--zIndex-trigger);

  .menuIcon { transform: rotate(180deg) }
}

$radius: calc(var(--spacing) * 2);

.trigger.attention::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 0;
  width: 0;

  border-radius: 50%;
  opacity: 0.4;
  background-color: var(--palette-primary-main);
  transform: translate(-50%, -50%);
  z-index: -1;

  -webkit-animation: Pop 5s ease-in-out infinite;
  animation: Pop 5s ease-in-out infinite;
}

@-webkit-keyframes Pop {
  0% { height: 0; width: 0; }
  10% { height: $radius; width: $radius; }
  30% { height: $radius; width: $radius; }
  40% { height: 0; width: 0; }
  100% { height: 0; width: 0; }
}
@keyframes Pop {
  0% { height: 0; width: 0; }
  10% { height: $radius; width: $radius; }
  30% { height: $radius; width: $radius; }
  40% { height: 0; width: 0; }
  100% { height: 0; width: 0; }
}

.wrapperMenu {
  position: absolute;
  top: var(--spacing);
  bottom: 0;
  left: 0;

  .menuContainer {    
    position: relative;
    height: 100%;
    width: 100%;
    color: var(--palette-background-main);
    overflow-y: auto;
  }
}

.wrapperContent {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  background-color: var(--palette-text-main);

  transition: $transition;

  .content {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: var(--palette-background-main);

    overflow-y: auto;
    transition: $transition;
  }
}

.menuOpen {
  .trigger { color: var(--palette-background-main) }  
  .content { opacity: 0.5 }
}

.wrapperMenu { width: $menu-x-sm }
.menuOpen .wrapperContent { transform: translate3d($menu-x-sm, $menu-y-sm, 0) }

@media #{$md-only} {
  .wrapperMenu { width: $menu-x-md }
  .menuOpen .wrapperContent { transform: translate3d($menu-x-md, $menu-y-md, 0) }
}

@media #{$lg-up} {
  .wrapperMenu { width: $menu-x-lg }
  .menuOpen .wrapperContent { transform: translate3d($menu-x-lg, $menu-y-lg, 0) }
}

.utilityMenu {
  padding: var(--spacing) 0;
  color: var(--palette-background-main);

  ul {
    list-style-type: none;
    color: var(--palette-background-main); 
    margin: 0;
    padding-left: calc(var(--spacing) / 4);
    
    a, span {
      font-size: 1.2em;
    }
  }

  li { padding: 0.2em 0 }

  span { color: var(--palette-background-dark) }
  
  a {
    color: var(--palette-background-main);
    text-decoration: none;
  }

  a:hover { text-decoration: underline }
}
