.aspectRatioBox {
    position: relative;
    width: 100%;
    margin: 0 auto;

    &::before {
        content: "";
        width: 1px;
        margin-left: -1px;
        float: left;
        height: 0;
        padding-top: calc(100% / (var(--aspect-ratio, 1)));
    }

    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

.aspectRatioBoxAbsolute {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.aspectRatioBoxRelative {
    position: relative;
    height: 100%;
    width: 100%;
}