.aspect-ratio-box {
    position: relative;
    padding-bottom: 100%;
    width: 100%;
}

.aspect-ratio-box-absolute {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.aspect-ratio-box-relative {
    position: relative;
    height: 100%;
    width: 100%;
}