{
  "extends": [ "standard", "react-app" ],
  "rules": {
    "comma-dangle": "off",
    "multiline-ternary": "off",
    "react/no-unused-prop-types": "error",
    "space-before-function-paren": "off"
  }
}
