.complete {
  text-align: center;
}

.logo {
  height: 20rem;
}

.donateButtonWrapper {
  margin: calc(var(--spacing)) 0;
}

.donateButton {
  text-decoration: none;
  background-color: var(--palette-background-main);
  color: var(--palette-primary-main);
  font-family: var(--typography-fontFamily-primary);
  //text-transform: uppercase;
  font-size: calc(var(--typography-fontSize) * 1.5);
  padding: calc(var(--spacing) / 4);
  border: calc(var(--spacing) / 16) solid var(--palette-primary-main);
  transition: all 0.2s;

  &:hover {
    background-color: var(--palette-primary-main);
    color: var(--palette-background-main);
  }
}
