@import 'src/util';

$numGridCells: 12;

// grid component

.grid {
    position: relative;
    
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;    
}

@function calcGridSize($x) {
    @return 100% / $numGridCells * $x;
}
    
// cell component

.cell {
    -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
            -ms-flex: 0 0 auto;
                flex: 0 0 auto;
    
    min-height: 0px;
    min-width: 0px;
    width: 100%;
    height: 100%;

    &.auto {
        -webkit-box-flex: 1;
            -webkit-flex: 1 1 0px;
                -ms-flex: 1 1 0px;
                    flex: 1 1 0px;
    }
    
    &.shrink {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        
        height: auto; 
        width: auto; 
    }
    
}

// media queries

$map: (
    sm: $sm-only,
    md: $md-only,
    lg: $md-only,
);

.grid-x {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;

    @for $i from 1 through $numGridCells {
        @each $key, $query in $map {
        
            @media #{$query} {
                & > .#{$key}-#{$i} {
                    width: calcGridSize($i);
         
                    -webkit-box-flex: 0;
                        -webkit-flex: 0 0 auto;
                            -ms-flex: 0 0 auto;
                                flex: 0 0 auto;            
                }
            }
        
        }
    }    
}

.grid-y {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;

    @for $i from 1 through $numGridCells {
        @each $key, $query in $map {
        
            @media #{$query} {
                & > .#{$key}-#{$i} {
                    height: calcGridSize($i);
         
                    -webkit-box-flex: 0;
                        -webkit-flex: 0 0 auto;
                            -ms-flex: 0 0 auto;
                                flex: 0 0 auto;            
                }
            }
        
        }
    }    
}
