@import 'src/util';

$numGridCells: 12;

// grid component

.grid {
    display: flex;
}

.gridX {
    flex-flow: row wrap;
    flex-direction: row;

    & > .auto,
    & > .shrink {
        width: auto;
    }
}

.gridY {
    flex-flow: column wrap;
    flex-direction: column;

    & > .auto,
    & > .shrink {
        height: auto;
    }
}

// cell component

.cell {
    flex: 0 0 auto;

    min-height: 0px;
    min-width: 0px;
    width: 100%;

    &.auto {
        flex: 1 1 0px;
    }
    
    &.shrink {
        flex: 0 0 auto;
    }
    
}

// media queries

$map: (
    sm: $sm-down,
    md: $md-only,
    lg: $lg-up,
);

@function calcGridSize($x) {
    @return 100% / $numGridCells * $x;
}

@each $key, $query in $map {
@media #{$query} {
    
    @for $i from 1 through $numGridCells {

        .gridX > .#{$key}-#{$i},
        .gridY > .#{$key}-#{$i} {
            flex-basis: auto;
            flex: 0 0 auto;
        }

        .gridX > .#{$key}-#{$i} {
            width: calcGridSize($i);     
        }

        .gridY > .#{$key}-#{$i} {
            height: calcGridSize($i);
        }
    }

}
}
