h1, h2, h3, h4, h5, h6, em {
    font-family: var(--typography-fontFamily-primary);
}

h1, .sub1 {
    font-size: 3.052em;
}

h2, .sub2 {
    font-size: 2.441em;
}

h3, .sub3 {
    font-size: 1.953em;
}

h4, .sub4 {
    font-size: 1.563em;
}

h5, .sub5 {
    font-size: 1.25em;
}

h6, .sub6 {
    font-size: 1em;
}

.subtitle {
    margin-top: 0;
}

em {
    font-style: normal;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: currentColor;
    -webkit-text-fill-color: transparent;
}

.capitalized {
    text-transform: uppercase;
}