@import 'src/util';

.content {
  width: 100%;
  margin: 0 auto;
}

@media #{$md-up} {
  .content { width: calc(100% - var(--spacing)) }
}

@media #{$lg-up} {
  .content { width: calc(100% - calc(var(--spacing) * 2)) }
}

.contact p,
.contact .linkContainer,
.contact .linkGrid,
.contact footer { text-align: center }

.linkGrid {
  width: 100%;
  display: inline-flex;
}

@media #{$md-up} {
  .linkGrid { width: 50%; }
}

.linkGrid a {
  font-size: calc(var(--typography-fontSize) * 3);
  color: var(--palette-text-light);

  &:hover { color: var(--palette-primary-main) }
}

.contactForm {
  display: block;
  width: 100%;
  margin: 0 auto;

  & > * {
    display: block;
    margin: 0 auto;
  }
  
  button {
    cursor: pointer;
    font-weight: 700;
    transition: all 0.2s;
    
    &:hover {
      background-color: var(--palette-text-main);
      color: var(--palette-background-main);
    }
  }
  
  input, textarea { width: 100%}

  input, textarea, button {
    font-family: inherit;
    margin: calc(var(--spacing) / 2) auto;
    padding: calc(var(--spacing) / 4);
    background: initial;
    border: 2px solid var(--palette-text-main);
  }
}

.contactResponse {
  margin: 0 auto;
  padding: calc(var(--spacing) / 8);
  display: none;
}

.contact-success {
  display: block;
  background-color: var(--palette-background-dark);
}

.contact-error {
  display: block;
  color: var(--palette-background-main);
  background-color: var(--palette-primary-main);
}

@media #{$lg-up} {
  .contactForm { width: calc(100% - calc(var(--spacing) * 2)) }
}

.logo {
  margin-top: var(--spacing);
  width: 70%;
}

@media #{$md-up} {
  .logo { width: 25% }
}