@import 'src/util';

.container {
  overflow: hidden;
  background: var(--palette-text-main);
  height: 100%;
}

.logo {
  position: absolute;
  top: calc(var(--spacing) / 7);
  left: 0;
  right: calc(var(--spacing) / 8);
  height: calc(var(--spacing) / 1.4);
  z-index: 1;

  img {
    display: block;
    float: right;
    height: 100%;
  }
}

.promoOverlay {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
}

.promoContent {
  margin: calc(var(--spacing) * 3) var(--spacing);
  height: calc(100% - calc(var(--spacing) * 2));
  width: calc(100% - calc(var(--spacing) * 2));
  color: var(--palette-background-main);
  font-size: calc(var(--typography-fontSize) * 1.5);

  h2 {
    padding-top: var(--spacing);
    text-align: center;
  }

  p {
    margin: calc(var(--spacing) * 0.1) 0;
  }

  a {
    text-decoration: none;
    color: var(--palette-primary-main);
  }
}

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:700&display=swap');

em.golden {
  font-size: 0.9em;
  font-family: 'Libre Baskerville', serif;
  -webkit-text-stroke: initial;
  -webkit-text-fill-color: initial;  
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #bf9b30;
  $url: '/assets/img/gold.gif';
  background: center / 300% url($url) no-repeat;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}


@media #{$md-up} {
  .promoContent p { font-size: 0.9em }
  em.golden { font-size: 1.5em }
}

@media #{$lg-up} {
  em.golden { font-size: 2em }
}
