.promoContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  text-align: center;
  transform: scale(1.2);
}

.video-react {
  height: 100%;
  width: 100%;
  padding: 0 !important;
  overflow: hidden;
}

.video-react-big-play-button,
.video-react-loading-spinner {
  display: none !important;
}