@import 'src/util';

$stringWidth: calc(var(--spacing) / 8);
$stringColor: var(--palette-primary-main);

.container { padding: 0 calc(var(--spacing) / 2) }

@media #{$md-up} {
  .container { padding: 0 calc(var(--spacing) / 2) }
}

.timeContainer {
  position: relative;
  display: flex;

  // left
  flex-direction: row;
  text-align: left;
}

// right
.timeContainer:nth-child(2n) {
  flex-direction: row-reverse;
}

.timeContainer:not(:first-child)::after {
  content: '';
  position: absolute;
  left: 50%;
  width: calc(100% + #{$stringWidth});
  height: $stringWidth;
  background-color: $stringColor;

  transform: translate(-50%);
}

.labelContainer { position: relative }

.labelContainer::after {
  content: '';
  position: absolute;
  left: 50%;
  width: $stringWidth;
  height: 100%;
  background-color: $stringColor;

  transform: translateX(-50%);
}

.timeContainer:first-child .labelContainer::after {
  top: 50%;
  height: 50%;
}

.timeContainer:last-child .labelContainer::after {
  height: 100%;
}

.labelContainer > div {
  position: absolute;
  top: 50%;
  padding: $stringWidth;

  color: var(--palette-background-main);
  background-color: $stringColor;
  border-radius: 2px;

  transform: translate(-50%, -50%);
  z-index: 1;

  & > span { position: relative }
}

.contentContainer {
  padding: calc(var(--spacing) / 4) calc(var(--spacing) / 2);

  h4 { margin: calc(var(--spacing) / 8) 0 }
  p { margin: 0 }
}

@media #{$md-up} {
  .contentContainer {
    padding: calc(var(--spacing) / 2) var(--spacing);
    h4 { margin: calc(var(--spacing) / 4) 0 }
  }
}