/**
 * -----------------------------------------------------
 * Colors
 *
 * Colors were numbered from darkest to lightest, where
 * a high number indicates a light shade of that color.
 * This is because increasing hex values generally
 * signify an increase in tone.
 * -----------------------------------------------------
 */

$colors: (
  'black': #000,
  'grey1': #111,
  'grey2': #222,
  'grey3': #404040,
  'grey4': #464646,
  'grey5': #aaa,
  'grey6': #666,
  'grey7': #777,
  'grey8': #888,
  'grey9': #aaa,
  'greya': #aaa,
  'greyc': #cbcbcb,
  'greyd': #ddd,
  'greyf': #fbfbfb,
  'white': #fff,
  'red1': #980000,
  'red2': #d12329,
  'red3': #ff5e53,
  'orange1': #c2604d,
  'orange2': #b25200,
  'orange3': #ea801f,
  'orange4': #ffb051,
  'gold': #beb481,
  'green1': #007e4c,
  'green2': #20af78,
  'green6': #61e2a7,
);

$theme: (
  'bg-light': map-get($colors, 'white'),
  'bg-main': map-get($colors, 'greyf'),
  'bg-dark': map-get($colors, 'greyd'),
  'text-light': map-get($colors, 'grey7'),
  'text-main': map-get($colors, 'grey3'),
  'text-dark': map-get($colors, 'grey2'),
  'primary-light': map-get($colors, 'red3'),
  'primary-main': map-get($colors, 'red2'),
  'primary-dark': map-get($colors, 'red1'),
  'secondary-light': map-get($colors, 'red3'),
  'secondary-main': map-get($colors, 'red2'),
  'secondary-dark': map-get($colors, 'red1'),
  'tertiary-light': map-get($colors, 'green6'),
  'tertiary-main': map-get($colors, 'green2'),
  'tertiary-dark': map-get($colors, 'green1'),
);
