
// breakpoints

$breakpoint-sm: 600;
$breakpoint-md: 960;
$breakpoint-lg: 1280;

// media queries

$screen: "only screen";

$sm-down: "#{$screen} and (max-width: #{$breakpoint-sm}px)";
$md-down: "#{screen} and (max-width: #{$breakpoint-md}px)";
$md-only: "#{screen} and (min-width: #{$breakpoint-sm + 1}px) and (max-width: #{$breakpoint-md}px)";
$md-up: "#{screen} and (min-width: #{$breakpoint-sm + 1}px)";
$lg-up: "#{screen} and (min-width: #{$breakpoint-md + 1}px)";
