
/**
 * -----------------------------------------------------
 * Breakpoints
 * 
 * Breakpoints chosen using common standards. Only
 * two breakpoints were chosen to minimize styling to
 * three large groups - small, medium, and large.
 * -----------------------------------------------------
 */

$bkpt-mobile-to-tablet: 48em;   // 768px
$bkpt-tablet-to-desktop: 80em;  // 1280px

@mixin mobile-only { @media ("max-width: #{$bkpt-mobile-to-tablet}") { @content; } }
@mixin not-mobile { @media ("min-width: #{$bkpt-mobile-to-tablet}") { @content; } }
@mixin not-desktop { @media ("max-width: #{$bkpt-tablet-to-desktop}") { @content; } }
@mixin desktop-only { @media ("min-width: #{$bkpt-tablet-to-desktop}") { @content; } }

/**
 * -----------------------------------------------------
 * Typography
 * 
 * Scale created with https://type-scale.com, using
 * base size 1em=16px, scale 1.5 and font Hind weight 
 * 700.
 * -----------------------------------------------------
 */

$typographyMap: (
  '0': 1em,
  '1': 1.5em,
  '2': 2.25em,
  '3': 3.375em,
  '4': 5.063em,
  '5': 7.594em,
  // beyond "safe" sizes!
  '6': 11.391em,
  '7': 17.086em,
);

/**
 * -----------------------------------------------------
 * Legacy
 * 
 * Any old styles or definitions that have yet to be
 * removed.
 * -----------------------------------------------------
 */

$breakpoint-sm: 600;
$breakpoint-md: 960;
$breakpoint-lg: 1280;

$screen: "only screen";
$sm-down: "#{$screen} and (max-width: #{$breakpoint-sm}px)";
$md-down: "#{screen} and (max-width: #{$breakpoint-md}px)";
$md-only: "#{screen} and (min-width: #{$breakpoint-sm + 1}px) and (max-width: #{$breakpoint-md}px)";
$md-up: "#{screen} and (min-width: #{$breakpoint-sm + 1}px)";
$lg-up: "#{screen} and (min-width: #{$breakpoint-md + 1}px)";

