/**
 * -----------------------------------------------------
 * Breakpoints
 * 
 * Breakpoints chosen using common standards. Only
 * two breakpoints were chosen to minimize styling to
 * three large groups - small, medium, and large.
 * Media queries are as follows:
 * s - small
 * ns - not small
 * nl - not large
 * l - large
 * -----------------------------------------------------
 */

$bkpt-mobile-to-tablet: 48em; // 768px
$bkpt-tablet-to-desktop: 80em; // 1280px

// content width
$containerWidth: 68em;

$queryMap: (
  'max-width: #{$bkpt-mobile-to-tablet}': '-s',
  'min-width: #{$bkpt-mobile-to-tablet}': '-ns',
  'max-width: #{$bkpt-tablet-to-desktop}': '-nl',
  'min-width: #{$bkpt-tablet-to-desktop}': '-l',
);

/**
 * -----------------------------------------------------
 * Browser Support
 * 
 * Vendor prefixes and browser-specific code creates
 * "technical debt" and obfuscates the code base. This
 * section aims to minimize these intricate code cases.
 * -----------------------------------------------------
 */

$vendorPrefixList: ('-webkit-', '-moz-', '-ms-', '-o-', '');

@mixin vendor($prop, $value) {
  @each $v in $vendorPrefixList {
    #{$v}#{$prop}: #{$value};
  }
}

/**
 * -----------------------------------------------------
 * Positioning
 * 
 * Position is determined using the four directions.
 * -----------------------------------------------------
 */

$directions: (
  't': 'top',
  'r': 'right',
  'b': 'bottom',
  'l': 'left',
);

/**
 * -----------------------------------------------------
 * Typography
 * 
 * Scale created with https://type-scale.com, using
 * base size 1em=16px, scale 1.5 and font Hind weight 
 * 700.
 * -----------------------------------------------------
 */

$typographyMap: (
  's3': 0.296rem,
  's2': 0.444rem,
  's1': 0.667rem,
  '0': 1rem,
  '1': 1.5rem,
  '2': 2.25rem,
  '3': 3.375rem,
  '4': 5.063rem,
  '5': 7.594rem,
  // beyond "safe" sizes!
    '6': 11.391rem,
  '7': 17.086rem,
);

$letterSpacingMap: (
  '0': 0rem,
  '1': 0.1rem,
  '2': 0.2rem,
  '3': 0.3rem,
  '4': 0.4rem,
  '5': 0.5rem,
  '6': 0.6rem,
  '7': 0.7rem,
  '8': 0.8rem,
  '9': 0.9rem,
);

/**
 * -----------------------------------------------------
 * Spacing
 * 
 * Spacing is broken into factors of 4 and 8 in terms of 
 * pixel density, as per Material design principles.
 * https://material.io/design/layout/spacing-methods.html
 * -----------------------------------------------------
 */

$spacingMap: (
  '0': 0,
  '1': 0.25rem,
  '2': 0.5rem,
  '3': 1rem,
  '4': 1.5rem,
  '5': 2rem,
  '6': 3rem,
  '7': 4rem,
  '8': 6rem,
  '9': 8rem,
);

/**
 * -----------------------------------------------------
 * Box Shadow
 * 
 * Box shadow is chosen in incrementing pixel values and
 * is intended to tie with z-index values.
 * -----------------------------------------------------
 */

$boxShadowMap: (
  '0': 0px,
  '1': 1px,
  '2': 2px,
  '3': 3px,
  '4': 4px,
  '5': 5px,
  '6': 6px,
  '7': 7px,
  '8': 8px,
  '9': 9px,
);

/**
 * -----------------------------------------------------
 * Border
 * 
 * Border width and border radius were chosen as single 
 * values rather than a range of values to maintain 
 * consistency throughout the application.
 * -----------------------------------------------------
 */

$borderWidth: 2px;
$borderRadius: 3px;

$borderStyleList: 'solid', 'dashed', 'dotted';

/**
 * -----------------------------------------------------
 * Z Index
 * 
 * Z-index increments are chosen in increments of 1 since
 * most "over-powered" styles tend to choose large values
 * such as 999 or -999, making it impossible to correct.
 * Negative values are included, since it is a potential
 * to need an index slightly below the norm, 0.
 * -----------------------------------------------------
 */

$zMap: (
  's3': -3,
  's2': -2,
  's1': -1,
  '0': 0,
  '1': 1,
  '2': 2,
  '3': 3,
  '4': 4,
  '5': 5,
  '6': 6,
  '7': 7,
  '8': 8,
  '9': 9,
);

/**
 * -----------------------------------------------------
 * Text Alignment
 * 
 * Text alignment determines horizontal alignment within
 * an element.
 * -----------------------------------------------------
 */

$textMap: (
  'l': left,
  'c': center,
  'r': right,
);

/**
 * -----------------------------------------------------
 * Numerical Values
 * 
 * Numerical values between 1-100 are recorded in
 * specific intervals. This is to reduce the amount of
 * variation in styling. Larger increments are better and
 * more effective at maintaining consistent styling in
 * this way.
 * -----------------------------------------------------
 */

$step-inc: 5;

/**
 * -----------------------------------------------------
 * Colors
 * 
 * Colors are organized according to identifiers, which
 * map to property names.
 * -----------------------------------------------------
 */

$colorMap: (
  'c': color,
  'bg': background-color,
  'bc': border-color,
);
