/**
 * -----------------------------------------------------
 * Typefaces
 * 
 * Typefaces are imported in a single location and
 * exported in a unified group for ease of access and 
 * single point of control over change.
 * -----------------------------------------------------
 */

@font-face {
  font-family: 'Averta';
  src: url('/fonts/Averta/Averta-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Averta';
  src: url('/fonts/Averta/Averta-Semibold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Averta';
  src: url('/fonts/Averta/Averta-ExtraBold.otf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Hind';
  src: url('/fonts/Hind/Hind-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hind';
  src: url('/fonts/Hind/Hind-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

$typefaceMap: (
  'averta': 'Averta, sans-serif',
  'hind': 'Hind, sans-serif',
);
