.container {
  @extend .mxa;
  @extend .px2-nl;
  max-width: $containerWidth;
}

@keyframes Skeleton {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -30% 0;
  }
}

.skeleton {
  background: linear-gradient(
    to left,
    rgba(205, 206, 210, 0.6),
    rgba(205, 206, 210, 0.3),
    rgba(205, 206, 210, 0.6)
  );
  background-size: 400% 400%;
  animation: Skeleton linear 3s infinite;
}

.clearall {
  background-color: inherit;
  color: inherit;
  border: initial;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
}
