@import './functional';

/**
 * -----------------------------------------------------
 * Legacy
 * 
 * Any old styles or definitions that have yet to be
 * removed.
 * -----------------------------------------------------
 */

.fggold {
  color: #beb481;
}

.bgorange {
  background-color: #c2604d !important;
}

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:700&display=swap');
.fflibre {
  font-family: 'Libre Baskerville', serif !important;
}

.hov-fgc-text-main:hover {
  color: var(--palette-text-main) !important;
}

.fgc-text-main,
.c-text-main {
  color: var(--palette-text-main) !important;
}

.bgc-text-main {
  background-color: var(--palette-text-main) !important;
}

.bgc-bg-main,
.bg-bg-main {
  background-color: var(--palette-background-main) !important;
}

.bgc-primary-main {
  background-color: var(--palette-primary-main) !important;
}

.bgc-bg-dark {
  background-color: var(--palette-background-dark) !important;
}

.bg-text-dark {
  background-color: var(--palette-text-dark) !important;
}

.hov-bgc-bg-main:hover {
  background-color: var(--palette-background-main) !important;
}

.fgc-bg-main {
  color: var(--palette-background-main) !important;
}

.hov-c-primary-main:hover {
  color: var(--palette-primary-main) !important;
}

.c-text-light {
  color: var(--palette-test-light) !important;
}

.c-bg-main {
  color: var(--palette-background-main) !important;
}

.c-bg-dark {
  color: var(--palette-background-dark) !important;
}

.bg-bg-main {
  background-color: var(--palette-background-main) !important;
}

// for testing purposes
.bgc-red {
  background-color: red !important;
}
