@import './functional';

/**
 * Media queries are as follows:
 * s - small
 * ns - not small
 * nl - not large
 * l - large
 */

$s:   '-s';
$ns:  '-ns';
$nl:  '-nl';
$l:   '-l';

@include mobile-only {
  @include typography($s);
}

@include not-mobile {
  @include typography($ns);
}

@include not-desktop {
  @include typography($nl);
}

@include desktop-only {
  @include typography($l);
}
