@import './legacy';
@import './media';

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: '-apple-system', 'BlinkMacSystemFont', '"Segoe UI"', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;

  color: var(--palette-text-main);
  background-color: var(--palette-background-main);
}

table,
tr,
td {
  border: 1px solid var(--palette-text-main);
  border-collapse: collapse;
}

.container {
  @extend .mxa;
  max-width: $containerWidth;
}
