@import './legacy';
@import './media';

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Hind', sans-serif;
  line-height: 1.2; // no units for multiplier
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--palette-text-main);
  background-color: var(--palette-background-main);
}

h1 {
  @extend .fs5;
}
h2 {
  @extend .fs4;
}
h3 {
  @extend .fs3;
}
h4 {
  @extend .fs2;
}
h5 {
  @extend .fs1;
}
h6 {
  @extend .fs0;
}

table,
tr,
td {
  border: 1px solid var(--palette-text-main);
  border-collapse: collapse;
}

button,
input,
textarea {
  @extend .dispb;
  @extend .mxa;
}

button {
  cursor: pointer;
}

.container {
  @extend .mxa;
  @extend .px2-s;
  max-width: $containerWidth;
}
