@import './media';
@import './elements';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  overflow: auto;
}

body {
  font-size: 16px;
  @extend .ff-hind;
  line-height: 1.2; // no units for multiplier

  @extend .c-text-main;
  @extend .bg-bg-main;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 1rem;
}

table,
tr,
td {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-collapse: collapse;
}

th,
td {
  @extend .px2;
  @extend .py1;
}

button,
input,
textarea {
  @extend .db;
  @extend .mxa;
}

button {
  cursor: pointer;
}
