@import 'src/util';

.page {
  position: relative;
  // min-height: 100%;
  width: 100%;
  padding: 0 calc(var(--spacing) / 4);
  padding-top: var(--spacing);
}

.page h1:first-child,
.page h2:first-child,
.page h3:first-child,
.page h4:first-child,
.page h5:first-child,
.page h6:first-child { margin-top: 0 }

@media #{$md-up} {
  .page {
    padding: 0 var(--spacing);
    padding-top: calc(var(--spacing) / 4);
  }
}