@import 'src/util';

.page {
  position: relative;
  // min-height: 100%;
  width: 100%;
  padding: 0 calc(var(--spacing) / 4);
  padding-top: var(--spacing);
}

@media #{$md-up} {
  .page {
    padding: 0 var(--spacing);
    padding-top: calc(var(--spacing) / 4);
  }
}