.profile {
    display: inline-block;
    width: calc(100% / 3) !important;

    & > div {
        height: 90%;
        width: 90%;
        margin: 5%;
    }

}

.profile .name {
    position: absolute;
    top: 0;
    left: 0;

    $size: calc(var(--typography-fontSize) * 3);
    font-size: $size;
    line-height: $size;

    $offset: calc(var(--typography-fontSize) * -1);
    transform: translate($offset, -50%);
}

.profile img {
    height: 100%;
    width: 100%;
}

.profile .position {
    float: right;

    transform: translateY(-50%);
}