.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: var(--zIndex-bar);
  background-color: var(--palette-background-main);

  // TODO fix menu height
  opacity: 0.8;
}

nav {
  padding: calc(var(--spacing) / 4);
  border: 3px dashed salmon;
}
// TODO
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu span {
  text-transform: uppercase;
}

.menu li {
  padding: 0.4em;
}

.menu a {
  color: inherit;
  text-decoration: none;

  &.active {
    font-weight: 700;
    color: var(--palette-background-main);
    background-color: var(--palette-secondary-dark);
  }

  &:hover {
    background-color: var(--palette-secondary-main);
    color: var(--palette-background-main);
  }

}

// dropdown container
.menu nav > ul > li {
  position: relative;
  display: inline-block;
  cursor: pointer;

  // trigger
  &:hover ul {
    display: block;
  }
}

// dropdown content
.menu li ul {
  display: none;
  position: absolute;
  z-index: 1;
}