.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: var(--zIndex-bar);
}

.menu, .menu ul {
  text-align: left;
  background-color: var(--palette-background-main);
}

.utilMenu li ul li {
  width: 100%;
  height: 100%;
}

.utilMenu li[aria-expanded]:hover ul,
.utilMenu li[aria-expanded=true] ul {
    border: 1px solid var(--palette-background-dark);
}

nav {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.bar, .barSpace {
  height: var(--spacing);
}

.bar img {
  $height: 80%;
  position: absolute;
  height: $height;
  top: calc(calc(100% - #{$height}) / 2);
  left: 0;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu span {
  text-transform: uppercase;
}

.menu li {
  padding: 0.4em;
}

.menu a {
  color: inherit;
  text-decoration: none;

  &.active {
    font-weight: 700;
  }

  &:hover {
    font-weight: 700;
  }

}