.profile {
  position: relative;
  height: 100%;
  width: 100%;
  padding: calc(var(--spacing) / 8);

  text-align: center;
  overflow-wrap: break-word;
  background-color: var(--palette-background-main);

  cursor: pointer;

  img { width: 100% }

  &:hover {
    z-index: 1;
    box-shadow: 0 0 5px var(--palette-text-light);
  }
}